.genre-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    cursor: pointer;

    position: relative;
    margin: 0 10px;
}

.genre-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.genre-card h2 {
    font: var(--Text-HeadingSmall);
    position: absolute;
}