.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;

    background-color: var(--Bg-Main);
    color: var(--Text-Main);
    font: var(--Text-BodyMedium);
    border-radius: 5px;
    /* user-select: none; */
    transition: 0.2s ease-in-out;

    margin: 0;
    padding: 15px;
    width: 400px;
}

.card:hover {
    background-color: var(--Bg-Hover);
    transform: scale(1.01);
    box-shadow: 0 0 10px var(--Bg-Main);
    transition: 0.2s ease-in-out;
}

.card img {
    width: 100%;
    user-select: none;
}

.card h2 {
    font: var(--Text-HeadingMedium);
    color: var(--Text-Main);
    letter-spacing: 0;
    user-select: text;

    margin: 20px 0;
    width: 100%;
}

.card .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.card .platform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    color: var(--Text-Main);
    font: var(--Text-HeadingSmall);
    user-select: text;

    margin: 0 20px 0 auto;
}

.card button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Text-Main);
    /* background-color: #76808c1f; */
    background-color: var(--Bg-Highlight);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    transition: 0.2s ease-in-out;

    width: 50px;
    height: 40px;
    padding: 0 5px;
}

.card button:hover {
    box-shadow: 0 0 5px gray;
    transition: 0.2s ease-in-out;
}

/* Sale ================================================================================ */

.card .sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: var(--Text-Dim);
    font: var(--Text-BodyMedium);

    margin: 0 10px 0 auto;
}

.card .sale-value {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--Accent-Green);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 20px;

    height: 100%;
    padding: 5px 10px;
    margin: 0 10px;
}

.card .sale .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    font: var(--Text-HeadingSmall);
    color: var(--Text-Main);

    height: 100%;
}

.card .sale .price .actual-price {
    text-decoration: underline 1px;
    text-underline-offset: -.45em;
    text-decoration-skip-ink: none;
    color: var(--Text-Dim);
}

.card .sale .price .sale-price {
    color: var(--Accent-Green);
}

.card .heart-full {
    display: none;
}

/* Genre ================================================================================*/

.container .genre-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    cursor: pointer;

    position: relative;
}

.genre-card img {
    user-select: none;

    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.genre-card h2 {
    font: var(--Text-HeadingMedium);
    color: var(--Text-Main);
    position: absolute;
}

/* Free ================================================================================*/

.price-free {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    color: var(--Text-Dim);
    margin: 0 10px 0 auto;
}

button.play {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--Accent-Green);
    font: var(--Text-BodyLarge);
    border-radius: 5px;
    color: black;
    font-weight: bold;

    padding: 6px 10px 5px 10px;
    margin: 0 10px;
    height: 40px;
    width: auto;
}

/* Recent ================================================================================*/

.recent-card {
    width: 300px;
    min-height: 350px;
    gap: 10px;
}

.recent-card img {
    width: 100%;
    height: 145px;
}

.recent-card h2 {
    font: var(--Text-HeadingSmall);

    margin: 0;
    width: 100%;
}

.recent-card p {
    font: var(--Text-BodyLarge);
    user-select: text;

    width: 100%;
    margin: 0 0 auto 0;
}

.recent-card .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.recent-card .buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--Bg-Highlight);
    font: var(--Text-BodyMedium);
    transition: 0.2s ease-in-out;
    cursor: pointer;

    padding: 10px 10px;
    width: 45%;
}

.recent-card .buttons button:hover {
    box-shadow: 0 0 5px gray;
    transition: 0.2s ease-in-out;
}

.recent-card .buttons .status {
    background-color: var(--Bg-Main);
}

.recent-card .buttons .view {
    background-color: var(--Bg-Highlight);
}

/* Top Sellers ================================================================================*/

.top-seller {
    flex-wrap: wrap;

    width: 610px;
    height: 130px;
}

.top-seller .top-seller-image {
    width: 230px;
    margin-right: 10px;
}

.top-seller .info {
    width: 340px;
    align-items: flex-end;
}

.top-seller h2 {
    margin: 0 0 auto 0;
    align-self: flex-start;
}

/* Streams ================================================================================*/

.stream {
    position: relative;
}

.stream .live {
    position: absolute;
    width: 60px;
    left: 10px;
    top: 10px;
}

.stream .pause {
    position: absolute;
    width: 60px;
    left: 150px;
    top: 65px;
}

.views {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font: var(--Text-BodyMedium);
    color: var(--Color-BlueHi);

    gap: 10px;
}

button.store-page-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--Bg-Highlight);
    background-color: var(--Bg-Highlight);
    font: var(--Text-BodyMedium);
    color: var(--Text-Main);
    cursor: pointer;

    padding: 10px 10px;
    width: 45%;
}

/* Banner ================================================================================*/

.banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;

    font: var(--Text-BodyMedium);
    color: var(--Text-Main);
    background-color: var(--Bg-Main);

    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 15px;
}

.banner .banner-image {
    height: 100%;
}

.banner .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 458px;
}

.banner h2 {
    font: var(--Text-HeadingMedium);

    margin: 0;
    width: 100%;
}

.banner p {
    font: var(--Text-BodyMedium);
}

.banner .images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 10px;
}

.banner .images img {
    width: 46%;
}

.banner .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    gap: 5px;
}

.banner .tag,
.add-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--Bg-Highlight);
    color: var(--Text-Dim);
    border-radius: 5px;
    cursor: pointer;

    padding: 5px 10px;
    height: 100%;
}

.banner .tags .platform {
    margin: 0 10px 0 auto;
}

.banner .panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.banner .panel .buy {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--Color-Secondary);
    font: var(--Text-BodyLarge);
    border-radius: 5px;
    color: white;
    cursor: pointer;

    padding: 13px 30px;
    margin: 0 10px;
}

.banner .panel .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    color: var(--Text-Main);
    font: var(--Text-HeadingSmall);

    margin: 0 20px 0 auto;
}

.banner .heart-full {
    display: none;
    font-size: 22px;
}

.banner .heart-empty {
    font-size: 22px;
}

.banner .wishlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--Bg-Highlight);
    background-color: var(--Bg-Highlight);
    font: var(--Text-BodyMedium);
    color: var(--Text-Main);
    cursor: pointer;

    padding: 10px 10px;
    width: 120px;
    gap: 10px;
}