header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--Bg-Tertiary);
    user-select: none;

    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    height: 100%;
    margin-right: auto;
}

header nav div {
    display: flex;
    align-items: center;
    justify-content: center;

    font: var(--Text-BodyLarge);
    color: var(--Text-Main);
    cursor: pointer;
    transition: ease 100ms;

    height: 48px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 10px;
}

header nav div:hover {
    background-color: rgb(82, 100, 134);
    transition: ease 500ms;
}

/* Search ================================================================================*/

header .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 20%;
    margin: 0 40px 0 auto;
}

header .search input {
    flex-grow: 1;

    background-color: #0e141b40;
    color: var(--Text-Main);
    border: none;
    border-radius: 5px 0 0 5px;

    padding: 15px;
    height: 48px;
}

header .search input:focus {
    outline: none;
}

header .search button {
    background-color: #0e141b40;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    
    width: 48px;
    height: 48px;
    padding: 0 10px;
}

/* Extra ================================================================================*/

header .extra-small {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 180px;
    margin-right: 35px;
}

header .extra-small button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--Text-Main);
    background-color: #76808c1f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    
    width: 50px;
    height: 40px;
    padding: 0 5px;
    margin: 0 15px 0 0px;
}

header .extra-small button:hover {
    background-color: rgb(82, 100, 134);
    transition: .3s;
}

header .wishlist-icon {
    height: 100%;
    width: 25px;
}

header .cart-icon {
    height: 100%;
    width: 20px;
}

/* Menu ================================================================================*/

header .menu {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;

    height: 100%;
    margin: 0 30px 0 15px;
}

header .menu-icon {
    height: 100%;
    width: 25px;
}

header .menu div {
    display: flex;
    align-items: center;
    justify-content: center;

    font: var(--Text-BodyLarge);
    color: var(--Text-Main);
    background-color: var(--Color-Secondary);
    cursor: pointer;
    border-radius: 0 5px 5px 0;

    height: 45px;
    padding: 0 15px;
}

header .menu span {
    background-color: var(--Color-Secondary);
    border-radius: 5px 0 0 5px;

    height: 45px;
    padding: 0 10px;
}

/* Media ================================================================================*/

@media (max-width: 1200px) {
    header nav {
        display: none;
    }
    header nav div {
        padding: 0 10px;
    }
    header .search {
        width: 100px;
        margin: 0 150px 0 auto;
    }
    header .menu {
        display: flex;
    }
}

@media (max-width: 800px) {
    header .search {
        margin: 0 0 0 auto;
    }
    header .search input {
        display: none;
    }
    header .search button {
        border-radius: 5px;
    }
}